version: "3.7"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=ragnarok
      - MYSQL_USER=ragnarok
      - MYSQL_PASSWORD=ragnarok
    ports:
      - 3306:3306
    volumes:
      - ../data/mysql-db-data:/var/lib/mysql
    networks:
      - homelab
    restart: unless-stopped
networks:
  homelab:
    external: true
