version: "3.7"

services:
  mysql:
    image: mysql:latest
    container_name: mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_USER=root
      - MYSQL_PASSWORD=root
    ports:
      - 3306:3306
    volumes:
      - ../data/mysql-db-data:/var/lib/mysql
    networks:
      - homelab
    restart: unless-stopped
networks:
  homelab:
    external: true
